<div class="chatter-wrapper"
     ng-class="{'offline': chatterObj.presence === d.userStatus.OFFLINE,
     'online': chatterObj.presence === d.userStatus.ONLINE,
     'idle': chatterObj.presence === vm.userStatus.IDLE}">
    <div class="online-indicator"></div>
    <div class="chatter-name">{{chatterObj.name}}</div>
    <div class="message-not-seen"
         ng-class="{'ten-or-more-unseen-messages': chatterObj.messagesNotSeen >= d.maxNumUnseenMessages}"
         ng-if="chatterObj.messagesNotSeen > 0">
        {{chatterObj.messagesNotSeen}}
    </div>
</div>
