<div class="chat-board-wrapper">
    <div class="chat-board-header">
        <chatter chatter-obj="chatterObj"></chatter>
    </div>
    <div class="board-wrapper">
        <div class="messages-wrapper">
            <div ng-repeat="message in chatMessages track by $index">
                <chat-message message="message"></chat-message>
            </div>
        </div>

            <textarea
                ng-keyup="$event.keyCode == 13 && d.sendMessage()"
                ng-model="d.newMessage">
            </textarea>
    </div>

</div>
