<div class="znk-chat-wrapper" ng-switch="d.chatStateView" translate-namespace="ZNK_CHAT">
    <div class="button-wrapper" ng-switch-when="1" ng-click="d.openChat()">
        <svg-icon name="chat-icon"></svg-icon>
    </div>

    <div class="chat-container" ng-switch-when="2">
        <chat-participants select-chatter="d.selectChatter"></chat-participants>
        <chat-board
            user-id="userChatObj.uid"
            chat-messages="d.chatMessages"
            chat-guid="{{d.chatGuid}}"
            chatter-obj="d.selectedChatter">
        </chat-board>
    </div>


</div>
