active-call {
    .etutoring-active-call {
        width: 210px;
        height: 40px;
        background-color: $bgColor21;
        border: 1px solid $bcColor11;
        border-radius: 20px;
        .flex-container {
            height: 100%;
            display:flex;
            align-items: center;
            padding: 0 5px;
        }
        .flex-col {
            &.callee-status,
            &.callee-name,
            &.call-controls {
                padding: 5px;
            }
            &.callee-status {
                flex-basis: 10%;
                text-align: center;
                .online-indicator {
                    display: inline-block;
                    background: $bgColor2;
                    width: 7px;
                    height: 7px;
                    border-radius: 6px;
                }
            }
            &.callee-name {
                flex-basis: 60%;
                @include text-style(14px, $fcColor6, Quicksand, $boldFontWeight);
            }
            &.call-controls {
                flex-basis: 30%;
                svg-icon.etutoring-call-mute-icon  {
                    float:left;
                    cursor: pointer;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    border: 1px solid $bgColor3;
                    svg {
                        width: 44%;
                        path {
                            fill: $bgColor3;
                        }
                    }
                }
                call-btn {
                    svg-icon {
                        &.etutoring-phone-icon {
                            width: 22px;
                            height: 22px;
                            float: right;
                        }
                    }
                }
            }
        }
        .call-duration {
            @include text-style(12px, $fcColor13, Lato, $regularFontWeight);
        }
    }
}
