active-panel {
    z-index: 9999;
    &.visible {
        .active-panel {
            opacity: 1;
        }
    }
    .active-panel {
        transition: 1.5s;
        opacity: 0;
        width: 210px;
        height: 40px;
        background-color: $bgColor21;
        border: 1px solid $bcColor11;
        border-radius: 20px;
        svg-icon {
            &:focus {
                outline: none;
            }
        }
        .flex-container {
            height: 100%;
            display:flex;
            align-items: center;
            padding: 0 5px;
        }
        .flex-col {
            &.callee-status,
            &.callee-name,
            &.call-controls {
                padding: 5px;
            }
            &.callee-status {
                flex-basis: 5%;
                text-align: center;
                .online-indicator {
                    display: inline-block;
                    background: $bgColor2;
                    width: 7px;
                    height: 7px;
                    border-radius: 6px;
                }
            }
            &.callee-name {
                flex-basis: 45%;
                @include text-style(14px, $fcColor6, Quicksand, $boldFontWeight);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.call-controls {
                flex-basis: 50%;
                svg-icon.active-panel-share-screen-icon {
                    float:left;
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 1px solid $bgColor3;
                    svg {
                        width: 44%;
                        path {
                            fill: $bgColor3;
                        }
                    }
                }

                svg-icon.active-panel-track-student-icon,
                svg-icon.active-panel-track-teacher-icon {
                    float:left;
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: $bgColor3;
                    margin-left: 7px;
                    svg {
                        width: 44%;
                        path {
                            fill: $bgColor6;
                        }
                    }
                }

                call-btn {
                    float: right;
                    margin-left: 7px;
                    svg-icon {
                        &.etutoring-phone-icon {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }
        .call-duration {
            @include text-style(12px, $fcColor13, Lato, $regularFontWeight);
        }
    }
    &.screen-share-mode {
        .active-panel {
            background-color: $bgColor26;
            border: 1px solid $bcColor13;
            .callee-name {
                color: $bgColor6;
            }
        }
    }
}
