active-panel {
    &.screen-share-mode {
        .active-panel {
            background-color: $bgColor26;
            .flex-col {
                &.callee-name {
                    color: $bgColor6;
                }
            }
        }
    }
    .active-panel {
        z-index: 9999;
        width: 250px;
        height: 40px;
        background-color: $bgColor21;
        border: 1px solid $bcColor11;
        border-radius: 20px;
        // override transition delay when showing / hiding the widget
        &.ng-animate {
            transition:0s none;
            -webkit-transition:0s none;
            animation: 0s none;
            -webkit-animation: 0s none;
        }
        svg-icon {
            &:focus {
                outline: none;
            }
        }
        .flex-container {
            height: 100%;
            display:flex;
            align-items: center;
            padding: 0 5px;
        }
        .flex-col {
            &.callee-status,
            &.callee-name,
            &.call-controls {
                padding: 5px;
            }
            &.callee-status {
                flex-basis: 5%;
                text-align: center;
                .online-indicator {
                    display: inline-block;
                    background: $bgColor2;
                    width: 7px;
                    height: 7px;
                    border-radius: 6px;
                    &.offline{
                        background: $bgColor22;
                    }
                    &.online{
                        background: $bgColor2;
                    }
                    &.idle{
                        background: $bgColor27;
                    }
                }
            }
            &.callee-name {
                flex-basis: 45%;
                @include text-style(14px, $fcColor6, Quicksand, $boldFontWeight);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.call-controls {
                flex-basis: 50%;

                .show-other-screen {
                    &.disabled {
                        svg-icon.active-panel-track-student-icon,
                        svg-icon.active-panel-track-teacher-icon {
                            background-color: $bgColor28;
                        }
                    }
                }

                .show-other-screen,
                svg-icon.share-my-screen {
                    &.disabled,
                    &.disabled svg-icon {
                        cursor: default;
                        transition: 1.5s;
                    }
                }
                svg-icon.share-my-screen {
                    float:left;
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: $bgColor19;
                    &.disabled {
                        background-color: $bgColor29;
                    }
                    svg {
                        width: 44%;
                        path {
                            fill: $bgColor6;
                        }
                    }
                }

                svg-icon.active-panel-track-student-icon,
                svg-icon.active-panel-track-teacher-icon {
                    float:left;
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: $bgColor3;
                    margin-right: 7px;
                    svg {
                        width: 44%;
                        path {
                            fill: $bgColor6;
                        }
                    }
                }

                call-btn {
                    float: right;
                    margin-left: 7px;
                    svg-icon {
                        &.etutoring-phone-icon {
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }
        .live-session-duration {
            @include text-style(12px, $fcColor13, Lato, $regularFontWeight);
        }
    }
    &.screen-share-mode {
        .active-panel {
            background-color: $bgColor26;
            border: 1px solid $bcColor13;
            .callee-name {
                color: $bgColor6;
            }
        }
    }
}
