<div class="active-panel ng-hide"
     ng-show="d.currStatus !== d.states.NONE"
     translate-namespace="ACTIVE_PANEL">
    <div class="flex-container">
        <div class="callee-status flex-col">
            <div class="online-indicator"
                 ng-class="{
                    'offline': d.currentUserPresenceStatus === d.presenceStatusMap.OFFLINE,
                    'online': d.currentUserPresenceStatus === d.presenceStatusMap.ONLINE,
                    'idle': d.currentUserPresenceStatus === d.presenceStatusMap.IDLE
                 }">
            </div>
        </div>
        <div class="callee-name flex-col">
            {{d.calleeName}}
            <div class="call-duration">&nbsp;</div>
        </div>
        <div class="call-controls flex-col">
            <div ng-click="d.viewOtherUserScreen()"
                 class="show-other-screen"
                 disable-click-drv="d.shareScreenBtnsEnable"
                 ng-class="{disabled: !d.shareScreenBtnsEnable}">
                <ng-switch on="d.isTeacher">
                    <svg-icon ng-switch-when="true"
                              name="active-panel-track-student-icon"
                              title="{{'SHOW_STUDENT_SCREEN' | translate}}">
                    </svg-icon>
                    <svg-icon ng-switch-default
                              name="active-panel-track-teacher-icon"
                              title="{{'SHOW_TEACHER_SCREEN' | translate}}">
                    </svg-icon>
                </ng-switch>
            </div>

            <svg-icon disable-click-drv="d.shareScreenBtnsEnable"
                      ng-class="{disabled: !d.shareScreenBtnsEnable}"
                      ng-click="d.shareMyScreen()"
                      name="active-panel-share-screen-icon"
                      class="share-my-screen"
                      title="{{'SHARE_MY_SCREEN' | translate}}">
            </svg-icon>

            <call-btn ng-model="d.callBtnModel"></call-btn>
        </div>
    </div>
</div>
