<div class="btn-container left-container ng-hide"
     ng-show="!!vm.currentQuestionIndex && vm.slideRightAllowed">
    <button ng-click="vm.prevQuestion()">
        <svg-icon name="chevron"></svg-icon>
    </button>
</div>
<div class="btn-container right-container ng-hide"
     ng-show="vm.maxQuestionIndex !== vm.currentQuestionIndex && vm.slideLeftAllowed"
     ng-class="{'question-answered': vm.isCurrentQuestionAnswered}">
    <button ng-click="vm.nextQuestion()">
        <svg-icon name="chevron"></svg-icon>
    </button>
</div>
<div class="done-btn-wrap show-opacity-animate" ng-if="vm.showDoneButton">
    <button tabindex="0"
            class="done-btn"
            ng-click="onDone()">DONE
    </button>
</div>
