<div ng-transclude></div>
<template-by-platform class="znk-carousel-container"
                      prefix="components/znkExercise/questionSwiper/template"
                      mobile-temp="questionSwiperMobileTemplate.html"
                      desktop-temp="questionSwiperDesktopTemplate.html">
</template-by-platform>
<template-by-platform class="btn-section"
                      prefix="components/znkExercise/btnSection/template"
                      mobile-temp="btnSectionMobileTemplate.html"
                      desktop-temp="btnSectionDesktopTemplate.html">
</template-by-platform>
<znk-exercise-pager
        ng-hide="d.hidePager"
        questions="d.questionsWithAnswers"
        ng-model="d.currentSlide">
</znk-exercise-pager>
