<div ng-transclude></div>
<questions-carousel class="znk-carousel-container"
                    questions="vm.questionsWithAnswers"
                    disable-swipe="{{vm.slideDirection !== 2}}"
                    ng-model="vm.currentSlide"
                    on-question-answered="vm.questionAnswered()"
                    slide-direction="{{vm.slideDirection}}">
</questions-carousel>
<div class="question-bottom-shadow"></div>
<znk-exercise-btn-section class="btn-section"
                          prev-question="vm.setCurrentIndexByOffset(-1)"
                          next-question="vm.setCurrentIndexByOffset(1)"
                          on-done="settings.onDone()"
                          actions="vm.btnSectionActions">
</znk-exercise-btn-section>
<znk-exercise-pager class="ng-hide show-opacity-animate"
                    ng-show="vm.showPager"
                    questions="vm.questionsWithAnswers"
                    ng-model="vm.currentSlide">
</znk-exercise-pager>
