@import './src/scss/imports/variables',
        './src/scss/imports/colors',
        './src/scss/imports/mixins';

device-not-supported {
    .device-not-supported-inner {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        .device-not-supported-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:40px;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: white;
            z-index: 9999;
            box-sizing: border-box;

            .image-container {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                img {
                    visibility: hidden;
                    max-width: 100%;
                    height: auto;
                }
            }

        }
    }
}
