<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="angular-material/angular-material.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="main.css">
    <style>
        body {
            margin: 8px;
        }
    </style>
</head>
<body ng-app="demo">

<div ng-controller="demoCtrl">
    <h2>Active Call Box</h2>

    <active-panel
        actions="actions"
        call-btn-model="callBtnModel"
        callee-name="{{calleeName}}">
    </active-panel>

    <hr>

    <h2>Call Pop-ups</h2>

    <a href="" ng-click="openIncomingCallModal()">Open Incoming Call Modal</a> -
    <a href="" ng-click="openOutgoingCallModal()">Open Outgoing Call Modal</a> -
    <a href="" ng-click="openErrorModal()">Open Error Modal</a>

    <hr>

    <h2>Call Btn</h2>
    <h3>offline</h3>
    <call-btn ng-model="offline"></call-btn>
    <h3>oded</h3>
    <call-btn ng-model="call"></call-btn>
    <h3>ran</h3>
    <call-btn ng-model="called"></call-btn>

    <hr>
</div>

<!-- bower:js -->
<script src="angular/angular.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="Swiper/dist/js/swiper.js"></script>
<script src="firebase/firebase.js"></script>
<script src="ng-idle/angular-idle.js"></script>
<script src="angular-translate/angular-translate.js"></script>
<script src="SHA-1/sha1.js"></script>
<script src="angulartics/src/angulartics.js"></script>
<script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="angular-svg-round-progressbar/build/roundProgress.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.js"></script>
<script src="plivo/dist/plivo.min.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-messages/angular-messages.js"></script>
<script src="angular-material/angular-material.js"></script>
<!-- endbower -->

<script src="main.js "></script>

<script src="demoApp.js "></script>
<script src="storagesConfig.js"></script>
<script src="translate.config.js"></script>
</body>
</html>
