<div class="start-lesson-modal">
    <md-dialog class="base" translate-namespace="ZNK_LESSON">
        <div class="close-popup-wrap" ng-click="vm.cancel()">
            <svg-icon name="znkLesson-close-popup"></svg-icon>
        </div>
        <md-dialog-content>
            <div class="main-title" translate=".LESSON_SUBJECT"></div>
            <div class="lessons-types">
                <div class="lesson-icon-wrap"
                     ng-repeat="subject in vm.lessonsSubjects"
                     ng-class="subject.name"
                     ng-click="vm.openActivePanel(subject.name)">
                    <svg-icon name={{subject.iconName}}></svg-icon>
                    <span>{{subject.name}}</span>
                </div>
            </div>
        </md-dialog-content>
    </md-dialog>
</div>
