free-text-answer{
    .free-text-answer-wrapper {
        @include dimension(520px, 115px);
        padding-left: 30px;

        .answer-status{
            @include dimension(85px, auto);
            display: flex;
            align-items: center;
            .user-answer{
                @include text-style(18px, $fcColor6, Lato, $regularFontWeight);
                display: inline-block;
            }

            svg-icon.correct, svg-icon.wrong{
                margin-left: 17px;
                float: right;
                display: none;
            }
        }

        .correct-answer{
            @include text-style(18px, $fcColor9, Lato , $regularFontWeight);
            margin-top: 10px;
            display: none;

            span{
                color: $fcColor7;
            }
        }

        .neutral, .wrong{
            .correct-answer{
                display: block;
            }
        }

        .wrong {
            svg-icon.wrong-icon {
                svg {
                    @include dimension(18px, auto);
                    line {
                        stroke: $bgColor1;
                    }
                }
                position: relative;
                top: 3px;
                display: block;
            }

            .user-answer {
                color: $fcColor10;
            }
        }

        .correct {
            svg-icon.correct-icon {
                svg {
                    @include dimension(26px, auto);
                    line {
                        stroke: $bgColor2;
                    }
                }
                display: block;
            }

            .user-answer {
                color: $fcColor7;
            }
        }

        .input-wrapper {
            @include dimension(261.5px, 43px);
            position: relative;

            .arrow-wrapper {
                @include dimension(48px, 48px);
                position: absolute;
                top:1px;
                right: -2px;
                cursor: pointer;

                svg-icon.arrow {
                    @include dimension(48px, auto);
                    position: relative;
                    z-index: 2;
                    float: left;
                    path{
                        fill: $bgColor14;
                    }
                }

                .svg-back{
                    @include dimension(24px, 45px);
                    background-color: $bgColor14;
                    position: absolute;
                    z-index: 1;
                }
            }

            input {
                @include dimension(244px, 43px);
                @include text-style(21px, $fcColor6, Lato, $regularFontWeight);
                border-radius: 30px;
                border: 1px solid $bcColor5;
                background-color: $bgColor13;
                padding-left: 18px;
            }

            input:focus{
                outline: none;
            }
        }
    }
}
