.rate-answer-wrapper{

    .checkbox-items-wrapper {

        .item-repeater {
            @include dimension(44px, 22px);
            position: relative;
            float:left;

            .correct-icon, .wrong-icon{
                display: none;
                position: absolute;
                z-index: 5;
                top: 1.5px;
                line{
                    stroke: $bgColor6;
                }
            }

            .correct-icon{
                @include dimension(14px, 15px);
                left: 4px;
            }

            .wrong-icon{
                @include dimension(10px, 15px);
                left: 6.4px;
            }

            .checkbox-item {
                @include dimension(22px, 22px);
                @include flex-middle;
                position: relative;
                z-index: 1;
                cursor: pointer;
                border-radius: 50px;
                background-color: $bgColor9;
                float: left;

                .item-index{
                    @include text-style(12px, $fcColor8, Lato, $regularFontWeight);
                    @include dimension(20px, 20px);
                    position: absolute;
                    top: 32px;
                    left: 2px;
                    text-align: center;
                }

                &.selected{
                    .item-index {
                        color: $fcColor5;
                        font-weight: $boldFontWeight;
                    }
                }
            }

            .checkbox-item:before {
                @include dimension(8px, 8px);
                content: '';
                border-radius: 50px;
                background-color: $bgColor8;
            }

            .checkbox-item.selected:before{
                background-color: $bgColor3;
            }

            .correct-answer-line{
                @include dimension(38px, 2px);
                display: none;
                position: absolute;
                top: 10px;
                left: 14px;
                z-index: 2;
                background-color: $bgColor2;
            }
        }

        .item-repeater:after{
            @include dimension(26px, 8px);
            position: absolute;
            left:20px;
            top: 7px;
            content: '';
            background-color: $bgColor9;
        }

        .item-repeater:last-child:after, .item-repeater:last-child .correct-answer-line{
            display: none;
        }

        .item-repeater.selected{
            .checkbox-item {
                .item-index {
                    color: $fcColor5;
                    font-weight: $boldFontWeight;
                }

                &:before{
                    background-color: $bgColor3;
                }
            }
        }

        .item-repeater.selected-correct{
            .checkbox-item, .checkbox-item:before {
                background-color: $bgColor2;

                .item-index {
                    color: $fcColor8;
                    font-weight: $boldFontWeight;
                }
            }
        }

        .item-repeater.selected-wrong{
            .checkbox-item, .checkbox-item:before {
                background-color: $bgColor1;

                .item-index {
                    color: $fcColor3;
                    font-weight: $boldFontWeight;
                }
            }
        }

        .item-repeater.correct{
            .checkbox-item:before,  .correct-answer-line {
                background-color: $bgColor2;
                display: inline-block;
            }
        }

        .item-repeater.correct-edge{
            .checkbox-item:before {
                background-color: $bgColor2;
            }
        }

        .item-repeater.correct-edge, .item-repeater.correct{
            .checkbox-item{
                .item-index {
                    color: $fcColor8;
                    font-weight: $boldFontWeight;
                }
            }
        }

        .item-repeater.selected-wrong, .item-repeater.selected-correct{
            .checkbox-item{
                border: 1px solid $bgColor9;
                box-sizing: border-box;
            }
        }

        .item-repeater.selected-wrong{
            .wrong-icon{
                display: inline-block;
            }
        }

        .item-repeater.selected-correct{
            .correct-icon{
                display: inline-block;
            }
        }
    }
}
