select-answer{
    @include text-style(18px,$fcColor1,Lato);
    display: block;

    .answer{
        @include display-flex();
        @include align-items(center);
        margin-bottom: 20px;

        .correct-icon-drv, .wrong-icon-drv{
            display: none;
        }

        &.wrong{
            .content-wrapper{
                .answer-index-wrapper{
                    background-color: $bgColor1;
                    color: $fcColor2;
                    .inner-circle{
                        display:block;
                        border: 13px solid $bgColor1;
                    }
                    border-color: $bgColor1;
                    .answer-index{
                        color: $fcColor2;
                    }
                }

                .content{
                    color: $fcColor3;
                }

                .ion-ios-close-empty{
                    display: block;
                }

                .wrong-icon-drv{
                    @include dimension(13px, 100%);
                    margin-left: 17px;
                    display: block;

                    svg{
                        line{
                            stroke: $bgColor1
                        }
                    }
                }
            }

        }

        &.correct{
            .answer-solution-icon-wrapper{
                visibility: visible;
            }

            .content-wrapper{
                .answer-index-wrapper{
                    background-color: $bgColor2;
                    color: $fcColor2;
                    .inner-circle{
                        display:block;
                        border: 13px solid $bgColor2;
                    }
                    border-color: $bgColor2;

                    .answer-index{
                        color: $fcColor2;
                    }
                }

                .content{
                    color: $fcColor7;
                }

                .ion-android-done{
                    display: block;
                }

                .correct-icon-drv{
                    @include dimension(23px, 100%);
                    margin-left: 17px;
                    display: block;

                    svg{
                        line{
                            stroke: $bgColor2
                        }
                    }
                }
            }

        }

        &.answered-incorrect{
            .answer-solution-icon-wrapper{
                visibility: visible;
            }

            .content-wrapper{
                .answer-index-wrapper{
                    background-color: $bgColor6;
                    color: $fcColor7;
                    .inner-circle{
                        display:block;
                        border: 13px solid $bgColor2;
                    }
                    border-color: $bcColor1;

                    .answer-index{
                        color: $fcColor4;
                    }
                }

                .content{
                    color: $fcColor7;
                }
            }

            .answer-solution-icon-wrapper{
                visibility: visible;
            }
        }

        &.answered{
            .content-wrapper{
                .answer-index-wrapper{
                    background: $bgColor3;
                    border:{
                        color: $bcColor2;
                    }

                    .index-char{
                        color: $fcColor2;
                    }
                }
                markup{
                    color: $fcColor5;
                }
            }
        }

        .answer-solution-icon-wrapper{
            visibility: hidden;
            margin-right: 25px;
            @include flex-shrink(0);
        }

        .content-wrapper{
            @include display-flex();
            @include align-items(center);
            .answer-index-wrapper{
                position: relative;
                .inner-circle{
                    display:none;
                    position: absolute;
                    top:5px;
                    left:5px;
                    border-radius: 50%;
                }
                background-color: $bgColor4;
                border-radius: 50%;
                @include flex-middle;
                @include dimension(38px,38px);
                border: 1px solid $bgColor5;
                margin-right: 22.5px;
                @include flex-shrink(0);

            }

            .content{
                p{
                    margin: 0;
                }
            }

            .ion-ios-close-empty{
                @include text-style(28px,$bgColor6);
                font-size:30px;
                position: absolute;
                left: 12.5px;
                top: 3px;
                z-index: 1;
                display: none;
                @include flex-shrink(0);
            }
            .ion-android-done{
                position: absolute;
                font-size: 22px;
                display: none;
                z-index: 1;
                color:$bgColor6;
                top:8px;
                left:9px;
            }
        }
    }
}
