znk-exercise.desktop {
  display: block;
  position: relative;

  .btn-section {
    .btn-container {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-flex;
      align-items: center;

      &.right-container {
        right: -40px;

        button{
          border-top-right-radius: 42px;
          border-bottom-right-radius: 42px;
          padding-left: 2px;

          .chevron{
            transform: rotate(-90deg);
          }
        }
      }

      &.left-container{
        left: -40px;

        button{
          border-top-left-radius: 42px;
          border-bottom-left-radius: 42px;
          padding-left: 5px;

          .chevron{
            transform: rotate(90deg);
          }
        }
      }

      button {
        padding: 0;
        height: 80px;
        width: 40px;
        border:{
          top: none;
          right: none;
          bottom: none;
          left: none;
        }
        background: #fbfafa;

        &:focus{
          outline: none;
        }

        svg-icon.chevron{
          width: 33px;

          .st0{
            stroke: #0a9bad;
          }
        }
      }
    }
  }

  svg-icon.chevron {
    .st0 {
      fill: none;
      stroke: #231F20;
      stroke-width: 12;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
    }
  }
}
