znk-lesson {
    .lesson-btn{
        background-color: #ff931e;
        color: #FFFFFF;
        height: 30px;
        width: 140px;
        min-height: 30px;
        min-width: 80px;
        line-height: 28px;
        border-radius: 15px;
        text-transform: none;
        outline: none;
    }
}

.start-lesson-modal {
    md-dialog {
        &.base {
            width:400px;
            border-radius: 15px;
        }
        .close-popup-wrap{
            outline: none;
        }
        .main-title{
            @include text-style(18px, $fcColor6,Quicksand,$semiBoldFontWeight);
            padding: 30px;
            text-align: center;
            text-transform: uppercase;
        }
        .lessons-types{
            display: flex;
            padding-bottom: 40px;
            justify-content: center;
            .lesson-icon-wrap{
                width: 155px;
                height: 55px;
                border-radius: 30px;
                color: #ffffff;
                margin: auto 5px;
                display: flex;
                align-items: center;
                outline: none;
                cursor: pointer;
                svg-icon path{
                    fill: #ffffff;
                }
                &.math {
                    background-color: #AF89D2;
                }
                &.english{
                    background-color: #F3CF19;
                }
                svg-icon{
                    width: 30px;
                    height: 30px;
                    margin: auto 15px;
                }
                span{
                    text-transform: uppercase;
                }
            }
        }
    }

}
