@import './src/scss/imports/variables',
'./src/scss/imports/colors',
'./src/scss/imports/mixins';

[znk-progress-bar],znk-progress-bar{
    height: 40px;

    .progress-bubble-wrapper{
        @include dimension(0px,55px);
        position: relative;

        .progress-percentage{
            @include absolute-position(7px, null, null, -23px);
            @include text-style(18px, $fcColor6, Quicksand, $regularFontWeight);
            z-index: 1;

            div{
                width: 50px;
                margin: 0 auto;
                text-align: center;

                div{
                    @include text-style(9px, $fcColor9, Lato, $extraLightFontWeight);
                    position: relative;
                    bottom: 6px;
                }
            }
        }

        .progress-bubble{
            @include dimension(52px,40px);
            position: relative;
            left: -25px;
            background-color: $bgColor6;
            border-radius: 8px;
            border-bottom: 1px $bgColor23 solid;

            .down-triangle{
                @include dimension(0px,0px);
                position: relative;
                left: 15px;
                top: 28px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $bgColor6;
            }

            .down-triangle.gray-triangle{
                top: 40px;
                border-top: 10px solid $bgColor23;
            }
        }
    }

    .progress-wrap {
        width: 100%;
        height: 7px;
        background: $bgColor24;
        border-radius: 3px;
        position: relative;
        .progress {
            background: $bgColor3;
            height: 100%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .answer-count {
            font-size: 12px;
            color: $bgColor3;
            position: absolute;
            top: -3px;
            right: -15px;
            margin-right: -3px;
        }
    }
}
