<div class="free-text-answer-wrapper" ng-switch="showCorrectAnswer">

    <div ng-switch-when="true" ng-class="userAnswerStatus">
        <div class="answer-status">
            <div class="user-answer">{{d.userAnswer}}</div>
            <svg-icon class="correct-icon" name="correct"></svg-icon>
            <svg-icon class="wrong-icon" name="wrong"></svg-icon>
        </div>
        <div class="correct-answer">Correct answer: <span>{{correctAnswer}}</span></div>
    </div>

    <div ng-switch-when="false">
        <div class="input-wrapper">
            <input ng-model-options="{ getterSetter: true }" ng-model="d.userAnswerGetterSetter">
            <div class="arrow-wrapper" ng-click="clickHandler()">
                <svg-icon name="arrow"></svg-icon>
                <div class="svg-back"></div>
            </div>
        </div>
    </div>

</div>
