<div ng-repeat="answer in ::d.answers track by answer.id"
     class="answer"
     ng-click="d.click(answer)"
     tabindex="-1">
    <div class="content-wrapper">
        <div class="answer-index-wrapper">
            <span class="index-char">{{::d.getIndexChar($index)}}</span>
        </div>
        <markup content="answer.content" type="md" class="content"></markup>
        <svg-icon class="correct-icon-drv" name="correct"></svg-icon>
        <svg-icon class="wrong-icon-drv" name="wrong"></svg-icon>
    </div>
</div>
