<div ng-switch="type" class="timer-drv">
    <div ng-switch-when="1" class="timer-type1">
        <svg-icon class="icon-wrapper" name="general-clock-icon"></svg-icon>
        <div class="timer-view"></div>
        <span class="timer-seconds-text" translate="TIMER.SEC"></span>
    </div>
    <div ng-switch-when="2" class="timer-type2">
        <div class="timer-display-wrapper">
            <div class="timer-display"></div>
            <div class="seconds-text" translate="TIMER.SECONDS" ng-if="!config.hideSecondsText"></div>
        </div>
        <div round-progress
             current="timeElapsed"
             max="config.max"
             color="{{config.color}}"
             bgcolor="{{config.bgcolor}}"
             stroke="{{config.stroke}}"
             radius="{{config.radius}}"
             clockwise="config.clockwise">
        </div>
    </div>
</div>
