//cross browser
@mixin placeholder() {
    ::-webkit-input-placeholder {
        @content;
    }
    :-moz-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    :-ms-input-placeholder {
        @content;
    }
}

//retina
/* full background image with retina */
@mixin background-image-url-retina($imagePathWithoutExtension) {
    /*CSS for basic styling and non-retina image path:*/
    background: {
        image: url('#{$imagePathWithoutExtension}.png');
    }

    /*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
    @media only screen and (min-resolution: 1.5dppx) {
        background: {
            image: url('#{$imagePathWithoutExtension}@2x.png');
        }
    }
}

//components
@mixin cloud-arrow($direction: up,$size: 10px,$color: white) {
    content: '';
    border: $size solid transparent;
    @if $direction == up {
        border-bottom-color: $color;
    }
    @if $direction == right {
        border-left-color: $color;
    }
    @if $direction == bottom {
        border-top-color: $color;
    }
    @if $direction == left {
        border-right-color: $color;
    }
    position: absolute;
    top: -20px;
    @content;
}

@mixin double-cloud-arrow($direction: up,$size: 10px,$inner-color: $whiteBC1,$outerColor: rgba(95, 84, 60, 0.18)) {
    &:before {
        @include cloud-arrow($direction, $size + 1px, $outerColor);
    }

    &:after {
        @include cloud-arrow($direction, $size, $inner-color) {
            left: 1px;
            top: -18px;
        }
    }
}

//useful mixins
@mixin background-cover-image($imagePathWithoutExtension){
    @include background-image-url-retina($imagePathWithoutExtension);
    background:{
        position: center;
        size: cover;
        attachment: fixed;
        repeat: no-repeat;
    }
}
