chat-board {
    width: 100%;

    .chat-board-wrapper {
        text-align: center;

        .chat-board-header {
            background-color: white; // todo
            border-radius: 0 15px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid gray; // todo - color------------------------------------
            height: 30px;

            .znk-chat-close-icon{
                position: absolute;
                right:5px;
                cursor: pointer;
                svg line{
                    stroke:black;// todo
                    stroke-width: 3px;
                }
            }
        }

        .board-wrapper{
            background-color: white; // todo
            .messages-container {
                padding-right: 5px;
                .messages-wrapper {
                    @include dimension(100%, 200px);
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;

                        .message-repeater {
                            margin: 9px;
                            opacity: 1;
                            height: auto;
                        }
                       .message-repeater.ng-enter {
                            transition: 1s;
                            opacity: 0;
                        }
                        .message-repeater.ng-enter-active {
                            opacity: 1;
                        }
                    }

                .znk-scrollbar {
                    ::-webkit-scrollbar,
                    &::-webkit-scrollbar {
                        height: 20px;
                        width: 6px;
                        background-color: #f9f9f9;
                        border-radius: 100px;
                        //margin: 20px 0;
                    }
                    ::-webkit-scrollbar-thumb,
                    &::-webkit-scrollbar-thumb {
                        background-color: #E1E1E1;
                        -webkit-border-radius: 1ex;
                    }
                }
            }

            textarea{
                @include dimension(100%, 44px);
                border:none;
                border-top: 1px solid lightgray; // todo - color --------------------------
                box-sizing: border-box;
                resize: none;
                border-radius: 0 0 10px 0;
            }
        }
    }
}
