.screen-sharing-ph{
    position: relative;
    z-index: 2;

    screen-sharing{

        .close-icon-wrapper{
            @include dimension(40px);
            position: fixed;
            top: 0;
            right: 0;
            border-bottom-left-radius: 15px;
            text-align: center;
            line-height: 42px;
            cursor: pointer;
        }

        .viewer-state{
            .close-icon-wrapper{
                background: $bgColor3;
            }
        }

        .sharer-state{
            .close-icon-wrapper{
                background: $bgColor19;
            }
        }

        .viewer-state-container{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 5px solid $bcColor2;
            background: $tbgColor7;
        }

        .sharer-state-container{
            .square-side{
                background: $bgColor19;
                position: fixed;

                &.top, &.bottom{
                    height: 5px;
                    right: 0;
                    left: 0;
                }

                &.right, &.left{
                    width: 5px;
                    top: 0;
                    bottom: 0;
                }

                &.top{
                    top: 0;
                }

                &.right{
                    right: 0;
                }

                &.bottom{
                    bottom: 0;
                }

                &.left{
                    left: 0;
                }
            }

            .eye-wrapper{
                background: $bgColor19;
                width: 52px;
                text-align: center;
                border-radius: 50%;
                height: 30px;
                box-sizing: border-box;
                position: fixed;
                top: -11px;
                right: 50%;
                margin: {
                    right: -26px;
                }
                padding: {
                    top: 10px;
                }
            }
        }
    }
}
