.screen-sharing-ph{
    position: relative;
    z-index: 10;

    screen-sharing{
        .viewer-state-container{
            position: fixed;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            background: $tbgColor7;
        }
    }
}
