<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="demoApp" ng-controller="Main">

    <style>
        body {
            background: #f2f2f2;
        }
    </style>

    <button ng-click="shouldEvaluateQuestion()">click shouldEvaluateQuestion</button>

    <button ng-click="isEvaluateQuestionType()">click isEvaluateQuestionType</button>

    <button ng-click="getEvaluateStatus()">click getEvaluateStatus</button>

    <script src="angular/angular.js"></script>

    <script src="config/config.js"></script>

    <script src="evaluator/evaluator.js"></script>

    <script src="demoApp.js"></script>
</body>
</html>
