<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <link rel="stylesheet" href="angular-material/angular-material.css" />
    <!-- endbower-->
    <link rel="stylesheet" href="main.css" />
</head>
<style>
    body{
        background: #f2f2f2;
    }

    znk-exercise{
        height: 600px;
        width: 1000px;
        margin: 100px 100px 0 auto;
        display: inline-block;
        float: right;
    }

    question-builder{
        overflow: auto;
        height: 100%;
        background: white;
    }

</style>
<body ng-app="demo" ng-controller="Main as $ctrl">
    <div class="btn-container">
        <button ng-click="$ctrl.rebuildExercise()">Rebuild Exercise</button>
    </div>
    <div class="btn-container">
        <input type="text"
               ng-model="$ctrl.newAnswer">
        <button ng-click="$ctrl.updateCurrentAnswer($ctrl.newAnswer)">update answer</button>
    </div>
    <div class="btn-container">
        <button ng-click="$ctrl.results.$save()">save result</button>
    </div>
    <div class="btn-container">
        <button ng-click="$ctrl.togglePagerDisplay()">Toggle pager display</button>
    </div>
    <div ng-if="$ctrl.showExercise">
        <znk-exercise ng-model="results"
                      questions="questions"
                      settings="settings"
                      actions="d.actions">
        </znk-exercise>
    </div>

    <!-- bower:js -->
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>
    <script src="firebase/firebase.js"></script>
    <script src="ng-idle/angular-idle.js"></script>
    <script src="SHA-1/sha1.js"></script>
    <script src="angulartics/src/angulartics.js"></script>
    <script src="angular-translate/angular-translate.js"></script>
    <script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="plivo/dist/plivo.min.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-svg-round-progressbar/build/roundProgress.js"></script>
    <!-- endbower -->

    <script src="main.js"></script>
    <script src="demo.js"></script>

    <script src="storagesConfig.js"></script>
    <script src="contentConfig.js"></script>
    <script src="translate.config.js"></script>
    <script src="env.service.js"></script>
    <script src="infraSrvUserDataConfig.js"></script>
    <script src="analyticsConfig.js"></script>
    <script src="znkExerciseConfig.js"></script>


</body>
</html>
