<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="demoApp" ng-controller="Main">

    <style>
        body{
            background: #f2f2f2;
        }

        znk-exercise{
            height: 500px;
            width: 1000px;
            margin: 100px 100px 0 auto;
            display: inline-block;
            float: right;
        }

        question-builder{
            overflow: auto;
            height: 100%;
            background: white;
        }

    </style>
    <div style="float: left;">
        <button ng-click="addQuestion()">Add question</button>
        <button ng-click="removeQuestion()">remove question</button>
        <div></div>
        <button ng-click="setSlideDirection(1)">set slide direction none</button>
        <button ng-click="setSlideDirection(2)">set slide direction all</button>
        <button ng-click="setSlideDirection(3)">set slide direction right</button>
        <button ng-click="setSlideDirection(4)">set slide direction left</button>
        <div></div>
        <button ng-click="setViewMode(1)">ANSWER_WITH_RESULT</button>
        <button ng-click="setViewMode(2)">ONLY_ANSWER</button>
        <button ng-click="setViewMode(3)">REVIEW</button>
        <button ng-click="setViewMode(4)">MUST_ANSWER</button>
        <div></div>
        <button ng-click="showOrHidePager()">show hide pager</button>
        <div></div>
        <button ng-click="showOrHideDoneBtn()">show hide done button</button>
    </div>
    <znk-exercise ng-model="results"
                  questions="questions"
                  settings="settings"
                  actions="d.actions">
    </znk-exercise>
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>

    <script src="components/enums/module.js"></script>
    <script src="components/enums/services/enumSrv.js"></script>
    <script src="components/enums/enums/answerTypeEnum.js"></script>

    <script src="components/autofocus/module.js"></script>
    <script src="components/autofocus/autofocusDrv.js"></script>

    <script src="components/svgIcon/module.js"></script>
    <script src="components/svgIcon/svgIconDrv.js"></script>
    <script src="components/svgIcon/svgIconSrv.js"></script>

    <script src="components/znkExercise/module.js"></script>

    <script src="components/znkExercise/utility/enum/platformEnum.js"></script>
    <script src="components/znkExercise/utility/enum/znkExerciseViewModeEnum.js"></script>
    <script src="components/znkExercise/utility/enum/ZnkExerciseSlideDirectionEnum.js"></script>
    <script src="components/znkExercise/utility/directive/templateByPlatform.js"></script>
    <script src="components/znkExercise/utility/service/znkExerciseUtilitySrv.js"></script>

    <script src="components/znkExercise/core/znkExerciseDrv.js"></script>
    <script src="components/znkExercise/core/znkExerciseDrvCtrl.js"></script>

    <script src="components/znkExercise/core/constant/znkExerciseEventsConst.js"></script>

    <script src="components/znkExercise/core/service/znkExerciseSrv.js"></script>
    <script src="components/znkExercise/core/service/questionTypesSrv.js"></script>

    <script src="components/znkExercise/core/directive/questionBuilderDrv.js"></script>
    <script src="components/znkExercise/core/directive/znkExerciseBtnSectionDrv.js"></script>
    <script src="components/znkExercise/core/directive/questionsCarouselDrv.js"></script>
    <script src="components/znkExercise/core/directive/znkSwiperDrv.js"></script>
    <script src="components/znkExercise/core/directive/rateAnswerFormatterParser.js"></script>

    <script src="components/znkExercise/pager/znkExercisePagerDrv.js"></script>

    <script src="components/znkExercise/answerTypes/answerBuilderDrv.js"></script>
    <script src="components/znkExercise/answerTypes/answerComponents/selectAnswerDrv.js"></script>
    <script src="components/znkExercise/answerTypes/answerComponents/znkExerciseAnswersSrv.js"></script>
    <script src="components/znkExercise/answerTypes/answerComponents/rateAnswerDrv.js"></script>
    <script src="components/znkExercise/answerTypes/answerComponents/freeTextAnswerDrv.js"></script>
    <script src="components/znkExercise/answerTypes/directives/markupDrv.js"></script>

    <script src="components/scroll/module.js"></script>
    <script src="components/scroll/znkScrollDrv.js"></script>

    <script src="demoApp.js"></script>
</body>
</html>
