<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="demoApp" ng-controller="Main">

    <style>
        body{
            background: #f2f2f2;
        }

        znk-exercise{
            height: 500px;
            width: 500px;
            margin: 100px auto 0 auto;
            background: #E2E2E2;
        }
    </style>

    <znk-exercise ng-model="results" questions="questions" settings="settings" ng-model="results">
    </znk-exercise>
    <script src="angular/angular.js"></script>
    <script src="angular-touch/angular-touch.js"></script>
    <script src="angular-carousel/dist/angular-carousel.js"></script>

    <script src="components/enums/module.js"></script>
    <script src="components/enums/services/enumSrv.js"></script>
    <script src="components/enums/enums/answerTypeEnum.js"></script>

    <script src="components/svgIcon/module.js"></script>
    <script src="components/svgIcon/svgIconDrv.js"></script>
    <script src="components/svgIcon/svgIconSrv.js"></script>

    <script src="components/znkExercise/module.js"></script>

    <script src="components/znkExercise/utility/enum/platformEnum.js"></script>
    <script src="components/znkExercise/utility/enum/znkExerciseViewModeEnum.js"></script>
    <script src="components/znkExercise/utility/enum/ZnkExerciseSlideDirectionEnum.js"></script>
    <script src="components/znkExercise/utility/directive/templateByPlatform.js"></script>
    <script src="components/znkExercise/utility/service/znkExerciseUtilitySrv.js"></script>

    <script src="components/znkExercise/core/znkExerciseDrv.js"></script>
    <script src="components/znkExercise/core/znkExerciseDrvCtrl.js"></script>

    <script src="components/znkExercise/core/constant/znkExerciseEventsConst.js"></script>

    <script src="components/znkExercise/core/service/znkExerciseSrv.js"></script>
    <script src="components/znkExercise/core/service/questionTypesSrv.js"></script>

    <script src="components/znkExercise/core/directive/questionBuilderDrv.js"></script>
    <script src="components/znkExercise/core/directive/znkExerciseBtnSectionDrv.js"></script>

    <script src="components/znkExercise/answerTypes/answerBuilderDrv.js"></script>
    <script src="components/znkExercise/answerTypes/answerComponents/selectAnswerDrv.js"></script>
    <script src="components/znkExercise/answerTypes/directives/markupDrv.js"></script>

    <script src="demoApp.js"></script>
</body>
</html>
