md-dialog.call-error-modal {
    height: auto;
    max-height: none;
    md-toolbar {
        &:not(.md-menu-toolbar){
            background-color: $bgColor1;
        }
    }

    .btn-container {
        margin-bottom: 20px;
    }

    .top-icon-wrap {
        .top-icon {
            .round-icon-wrap {
                background-color: $bgColor1;

                svg-icon{
                    width: 12px;
                    svg {
                        width: 100%;
                        * {
                            fill: $bgColor6;
                        }
                    }
                }
            }
        }
    }
}
