<div class="znk-category-stats">
    <div class="category-wrapper"
         subject-id-to-attr-drv="vm.subjectId"
         translate-namespace="ZNK_CATEGORY_SUMMARY">

        <div class="category-short-name">{{vm.category.shortName}}</div>
        <div class="category-name">{{vm.category.name}}</div>

        <div class="progress-details-wrapper">
            <div class="level-status-wrapper">
                <span translate=".CATEGORY_ACCURACY" translate-values="{categoryProgress: vm.category.progress}"></span>
            </div>

            <div class="subject-progress-wrapper">
                <znk-progress-bar progress-width="{{vm.category.progress}}"></znk-progress-bar>
                <span class="level-white-line line1"></span>
                <span class="level-white-line line2"></span>
                <span class="level-white-line line3"></span>
                <span class="level-white-line line4"></span>
            </div>

            <div class="average-time-wrapper">
                <svg-icon name="znkCategoryStats-clock-icon"></svg-icon>
                <span translate=".AVERAGE_TIME_CATEGORY" translate-values="{avgTime: vm.category.avgTime}"></span>
            </div>
        </div>
    </div>
</div>
