.colors-container {
  position: absolute;
  top: 45px;
  left: -45px;
  width: 38px;
  background-color: #b37c7c;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0px 1px 6px 0px #8a8a8a;
  z-index: 1;
}