.colors-container {
  position: absolute;
  top: 0px;
  left: -45px;
  width: 38px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 1px 6px 0px #8a8a8a;
  z-index: 1;
  display: flex;
  justify-content: center;
  .color-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .color-item {
      width: 20px;
      height: 20px;
      margin: 5px;
      border: 1px solid #bdbdbd;
      border-radius: 50%;
      transition: .2s box-shadow linear;
    }
    .color-item:hover {
      box-shadow: 0px 1px 1px 1px #7d7d7d;
    }
  }
}