etutoring-student-navigation-pane {
    .etutoring-student-navigation-pane{
        height: 100%;
        width: 100%;
        position: relative;
        background: #ffffff;
        overflow: hidden;

        .navigation-header {
            display: flex;
            align-items: baseline;
            justify-content: space-around;

            .lessons-button, .practice-button{
                @include text-style(16px, #4f4d4d, Quicksand, $regularFontWeight);
                @include dimension(50%, 51px);
                cursor: pointer;
                transition: 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #f7f7f7;

                .title{
                    position: relative;
                }

                &.inactive {
                    box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.1) inset;
                }
            }

            .practice-button.no-homework{
                pointer-events: none;
            }
        }

        &.lessons-pane .lessons-button, &.practice-pane .practice-button{
            background-color: #ffffff;
            ::before{
                @include dimension(100%, 2px);
                content: '';
                position: absolute;
                bottom: 0;
            }
        }

        .search-wrap {
            padding: 0 18px 18px;
            .znk-input-group {
                position: relative;
                min-height: 45px;
                input {
                    width: 88%;
                    height: 25px;
                    padding-left: 25px;
                }

                .search-icon {
                    width: 14px;
                    position: absolute;
                    top: 16px;
                    left: 7px;
                }

                .search-icon * {
                    stroke: #c2c2c2;
                }
                .clear-search {
                    font-size: 14px;
                    cursor: pointer;
                    color: $fcColor6;
                    position: absolute;
                    right: 6px;
                    top: 15px;
                    font-weight: $extraLightFontWeight;
                    padding-right: 5px;
                     .close-icon {
                         width: 12px;
                         height: 12px;
                         margin-right: 5px;
                         margin-top: 1px;
                        *{
                            stroke: #c2c2c2;
                        }
                    }
                }
            }
        }

        .modules-wrap {
            height: 85%;
            .modules-container {
                height: 95%;
                overflow: auto;
                .module-item {
                    height: 80px;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 2px solid #f2f2f2;
                    border-left: 3px solid #0a9bad;
                    cursor: pointer;
                    background-color: #ffffff;
                    transition: all, 0.2s;

                    .md-button.md-default-theme:not([disabled]):hover,
                    .md-button:not([disabled]):hover {
                        background-color: #f2f2f2;
                    }

                    .icon-wrapper {
                        width: 60px;
                        svg-icon {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            position: relative;
                            text-align: center;

                            //&.math-icon {    // todo - define in apps.
                            //    background: $mathColor;
                            //}
                            //&.verbal-icon{
                            //    background: $verbalColor;
                            //}
                            //&.essay-icon{
                            //    background: $essayColor;
                            //}

                            svg {
                                width: 65%;
                                height: 65%;
                                * {
                                    fill: #ffffff;
                                }
                            }
                        }

                        .homework-practice-icon{
                            svg-icon {
                                border: 1px solid #0a9bad;
                                svg path {
                                    fill: #0a9bad;
                                }
                            }
                        }
                    }

                    .module-details {
                        width: 180px;
                        padding-top: 18px;
                        box-sizing: border-box;
                        .module-name {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            @include text-style(16px, #0a9bad, Lato, $regularFontWeight);
                            margin-bottom: 5px;
                        }
                        .subject-name {
                            @include text-style(12px, #4f4d4d, Lato, $regularFontWeight);
                            height: 15px;
                            text-transform: capitalize;
                            margin-bottom: 3px;
                        }
                        .assigned-date {
                            @include text-style(12px, #757a83, Lato, $regularFontWeight);
                        }

                        .due-date{
                            @include text-style(12px, #4f4d4d, Lato, $regularFontWeight);
                        }
                    }

                    .module-status {
                        width: 63px;
                        .pill{
                            @include text-style(12px, #ffffff, Lato, $regularFontWeight);
                            display: inline;
                            background-color: #ff931e;
                            padding: 1px 4px;
                            line-height: normal;
                            border-radius: 4px;
                        }
                        .in-progress {
                            @include text-style(10px, #0a9bad, Lato, $regularFontWeight, null, lowercase);
                            font-style: italic;
                            padding-right: 5px;
                        }
                        svg-icon[name="v-icon"] {
                            width:20px;
                            height:20px;
                            svg {
                                line {
                                    fill: #87ca4d;
                                    stroke: #87ca4d;
                                }
                            }
                        }
                        .flex-center{
                            padding-top: 15px;
                            padding-right: 2px;
                        }
                    }

                    &:hover {
                        background-color: #f2f2f2;
                    }
                    &.done {
                        border-left: 2px solid #87ca4d;
                        button {
                            color: #4f4d4d;
                        }
                    }
                    &.active {
                        background-color: #f2f2f2;
                        border-left: 8px solid #0a9bad;
                        .icon-wrapper {
                        }
                        button {
                            color: #0a9bad;
                            transition: border 0.2s;
                            border-left: 8px solid #0a9bad;
                        }
                    }
                    &.completed{
                        .module-details{
                            .module-name{
                                color: #757a83;
                            }
                            .due-date{
                                display: none;
                            }
                        }
                    }
                    &.pass-due-date, &.active.pass-due-date{
                        .homework-practice-icon{
                            svg-icon {
                                border: 1px solid #ff6766;
                                svg path {
                                    fill: #ff6766;
                                }
                            }
                        }

                        .module-name, .due-date {
                            color:#ff6766;
                        }
                    }
                    &.completed,  &completed.pass-due-date, &.completed.active{
                        .module-name, .due-date {
                            color:#acacac;
                        }
                        .homework-practice-icon {
                            svg-icon {
                                border: 1px solid #acacac;
                                svg path {
                                    fill: #acacac;
                                }
                            }
                        }
                    }

                    .module-btn {
                        width: 100%;
                        height: 100%;
                        border-radius: 0;
                        margin: 0;
                        background-color: inherit;
                        justify-content: space-between;
                        color: #4f4d4d;
                        display: flex;
                        line-height: normal;
                        &:hover {
                            background-color: #FCFCFC;
                        }

                        .subject-icon {
                            width: 50px;
                            height: 76px;
                            text-align: center;

                            svg-icon {
                                position: absolute;
                                top: 15px;
                                left: 15px;
                                width: 36px;
                                height: 36px;
                                border-radius: 36px;
                                * {
                                    fill: #ffffff;
                                }
                            }
                        }

                        .module-name-wrap {
                            height: 76px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            .module-name{
                                @include text-style(12px, #0a9bad, Lato, $regularFontWeight);
                            }
                            .module-subject{
                                @include text-style(12px, #757a83, Lato, $lightFontWeight);
                            }
                            .assign-date{
                                @include text-style(10px, #757a83, Lato, $lightFontWeight);
                            }
                        }
                        .module-status{
                            @include text-style(10px, #757a83, Lato, $lightFontWeight);
                        }
                    }
                }

                .module-item.ng-enter {
                    opacity: 0;
                }
                .module-item.ng-enter-active {
                    opacity: 1;
                }
                .module-item.ng-leave {
                    opacity: 1;
                }
                .module-item.ng-leave.ng-leave-active{
                    opacity: 0;
                }
            }
        }

        .navigation-overlay {
            position: absolute;
            top: 106px;
            text-align: center;
            @include full-background-image-retina('/assets/images/bg//modules-sidebar-empty', 100%, 458px);
            background-position: -8px -50px;
            background-size: 311px auto;
            span {
                @include text-style(16px, #4f4d4d, Quicksand, $regularFontWeight);
                width: 100%;
                position: absolute;
                top: 25px;
                left:0;
                padding: 0 35px;
                box-sizing: border-box;
            }
        }
    }
}

