<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="popUp/main.css">
    <style>
        body{
            background: #f2f2f2;
        }

        znk-exercise{
            height: 500px;
            width: 500px;
            margin: 100px auto 0 auto;
            background: #E2E2E2;
        }
    </style>
    <script src="angular/angular.js"></script>
    <script src="enum/enum.js"></script>
    <script src="svgIcon/svgIcon.js"></script>
    <script src="autofocus/autofocus.js"></script>
    <script src="popUp/popUp.js"></script>
    <script src="popUp/templates.js"></script>
    <script src="demoApp.js"></script>
</head>
<body ng-app="demoApp" ng-controller="Main">
    <button ng-click="showPopup('warning')">confirmation pop</button>
    <button ng-click="showPopup('error')">Error pop</button>
    <button ng-click="showPopup('error conformation')">Error conformation pop</button>
    <button ng-click="showPopup('success')">Success pop</button>
</body>
</html>
