<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <!-- endbower -->
</head>
<body ng-app="demo" ng-controller="Main">

    <style>
        body{
            background: #f2f2f2;
        }

        .container{
            display: flex;
        }

        .item{
            margin-right: 50px;
        }

        .workout{
            margin-bottom: 20px;
        }
    </style>
    <div style="text-align: center;font-size: 26px;">Workouts Service</div>
    <div class="container">
        <div class="item">
            <button ng-click="getWorkouts()">Get all workouts</button>
            <div ng-repeat="workout in workouts" class="workout">
                <div>order: {{workout.workoutOrder}}</div>
                <div>type: {{workout.exerciseTypeId}}</div>
                <div>exercise id: {{workout.exerciseId}}</div>
                <div>status: {{workout.status}}</div>
            </div>
        </div>
        <div class="item">
            <button ng-click="updateWorkout()">Update exercise</button>
            <div>
                <label>exercise order:</label>
                <input type="text" ng-model="exerciseOrder">
            </div>
            <div>
                <label>exercise status:</label>
                <input type="number" ng-model="workoutData.status">
            </div>
        </div>
        <div class="item">
            <div>
                <button ng-click="getWorkoutData()">get workout data</button>
                <div>
                    <label>workout id</label>
                    <input type="number" ng-model="workoutIdToRetrieveData">
                </div>
                <div>id: {{exerciseContent.id}}</div>
                <div>category id: {{exerciseContent.categoryId}}</div>
                <div>name: {{exerciseContent.name}}</div>
            </div>
        </div>
    </div>
    <!-- bower:js -->
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>
    <script src="firebase/firebase.js"></script>
    <script src="angular-translate/angular-translate.js"></script>
    <script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <!-- endbower -->

    <script src="main.js"></script>

    <script src="demoApp.js"></script>
    <script src="storagesConfig.js"></script>
    <script src="contentConfig.js"></script>
    <script src="env.service.js"></script>
</body>
</html>
