/* fonts size */
$extraLightFontWeight: 100;
$ultraLightFontWeight: 100;
$lightFontWeight: 200;
$thinFontWeight: 200;
$bookFontWeight: 300;
$demiFontWeight: 300;
$normalFontWeight: 400;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$semiBoldFontWeight: 600;
$demiBoldFontWeight: 600;
$boldFontWeight: 700;
$blackFontWeight: 800;
$extraBoldFontWeight: 800;
$heavyFontWeight: 800;
$extraBlackFontWeight: 900;
$fatFontWeight: 900;
$posterFontWeight: 900;
$ultraBlackFontWeight: 900;
