<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <script src="angular/angular.js"></script>
    <script src="webcall/webcall.js"></script>
    <script src="plivo/dist/plivo.min.js"></script>
    <script src="demoApp.js"></script>
</head>
<body ng-app="demoApp" ng-controller="Main">
    <button ng-click="init()">Init</button>
    <button ng-click="login()">Login</button>
    <button ng-click="call(1234)">Call</button>
    <button ng-click="hang()">Hang</button>
    
</body>
</html>
