<svg-icon name="znk-exercise-touche"
          ng-click="d.toolClicked(d.TOOLS.TOUCHE)"
          ng-class="{
            active:d.drawMode !== d.DRAWING_MODES.NONE
          }">
</svg-icon>
<!--<svg-icon name="znk-exercise-pointer">-->
<!--</svg-icon>-->
<!--<svg-icon name="znk-exercise-pencil"
          ng-click="d.toolClicked(d.TOOLS.PENCIL)"
          ng-class="{
            active:(d.drawMode === d.DRAWING_MODES.VIEW_DRAW) && (d.drawMode !== d.DRAWING_MODES.NONE)
          }">
</svg-icon>-->

<svg-icon name="znk-exercise-pencil"
          ng-click="d.toolClicked(d.TOOLS.PENCIL)"
          ng-class="{
  active:(d.drawMode === d.DRAWING_MODES.VIEW_DRAW) && (d.drawMode !== d.DRAWING_MODES.NONE)
}">
</svg-icon>
<znk-color-picker picked-color="d.pickedColor" ng-if="d.showColorPicker"></znk-color-picker>
<svg-icon name="znk-exercise-eraser"
          ng-click="d.toolClicked(d.TOOLS.ERASER)"
          ng-class="{
            active:(d.drawMode === d.DRAWING_MODES.VIEW_ERASE) && (d.drawMode !== d.DRAWING_MODES.NONE)
          }">
</svg-icon>
<svg-icon name="znk-exercise-remove"
          ng-click="d.cleanCanvas()">
</svg-icon>
