<div translate-namespace="AUDIO_CALLS">
    <div class="modal-main-title" translate=".INCOMING_CALL"></div>
    <div class="modal-sub-title" translate=".NAME_IS_CALLING" translate-values="{callerName: 'Eric Powell'}"></div>
    <div class="btn-container">
        <div class="btn-decline">

        </div>
        <div class="btn-accept">
            <button
                ng-click="vm.declineCall()"
                translate=".DECLINE">
            </button>
            <button
                ng-click="vm.acceptCall()"
                class="primary"
                translate=".ACCEPT">
            </button>
        </div>
    </div>
</div>
