<div translate-namespace="AUDIO_CALLS">
    <div class="modal-main-title" translate=".INCOMING_CALL"></div>

    <ng-switch on="callsData.status">
        <!-- Call Pending -->
        <div ng-switch-when="1" class="flex-column">
            <span
                class="modal-sub-title call-status"
                translate=".NAME_IS_CALLING"
                translate-values="{callerName: callerName}"></span>
            <div class="btn-container">
                <div class="btn-decline">
                    <button
                        ng-click="vm.declineCall()"
                        translate=".DECLINE">
                    </button>
                </div>
                <div class="btn-accept">
                    <button
                        ng-click="vm.acceptCall()"
                        class="primary"
                        element-loader
                        fill-loader="vm.fillLoader"
                        show-loader="vm.startLoader"
                        bg-loader="'#07434A'"
                        precentage="50"
                        font-color="'#FFFFFF'"
                        bg="'#0a9bad'">
                        <span translate=".ACCEPT"></span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Call Declined -->
        <div ng-switch-when="2" class="flex-column" ng-if="declineByOther">
            <span
                translate=".CALLING_CANCELED"
                class="modal-sub-title call-status">
            </span>
            <div class="btn-container">
                <div class="btn-ok">
                    <button
                        ng-click="vm.closeModal()"
                        translate=".OK">
                    </button>
                </div>
            </div>
        </div>
    </ng-switch>
</div>
