<div translate-namespace="AUDIO_CALLS">
    <div class="modal-main-title"
         translate=".OUTGOING_CALL">
    </div>
    <div class="switch-container"
         ng-switch="callsData.status">
        <div ng-switch-when="1">
            <div class="modal-sub-title"
                 translate=".CALLING_NAME"
                 translate-values="{calleeName: 'Eric Powell'}">
            </div>
            <div class="btn-container">
                <div class="btn-accept">
                    <button
                        ng-click="vm.declineCall()"
                        translate=".CANCEL">
                    </button>
                </div>
            </div>
        </div>
        <div ng-switch-when="2">
            <div class="modal-sub-title"
                 translate=".CALLING_DECLINE">
            </div>
            <div class="btn-container">
                <div class="btn-accept">
                    <button
                        ng-click="vm.closeModalAndDisconnect()"
                        translate=".OK">
                    </button>
                </div>
            </div>
        </div>
        <div ng-switch-when="3">
            <div class="modal-sub-title"
                 translate=".CALLING_ANSWERED">
            </div>
        </div>
    </div>
</div>
