<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="Swiper/dist/css/swiper.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="main.css">
</head>
<body ng-app="demo">
    <h1>Activate sharing</h1>
    <button ng-click="activateSharing(2)">Viewer</button>
    <button ng-click="activateSharing(3)">Sharer</button>
    <h1>End sharing</h1>
    <button ng-click="endSharing()">End sharing</button>
    <h1>Show screen sharing confirmation pop up</h1>
    <button ng-click="showScreenSharingConfirmationPopUp()">End sharing</button>
    <!-- bower:js -->
    <script src="angular/angular.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="Swiper/dist/js/swiper.js"></script>
    <script src="firebase/firebase.js"></script>
    <script src="ng-idle/angular-idle.js"></script>
    <script src="angular-translate/angular-translate.js"></script>
    <script src="SHA-1/sha1.js"></script>
    <script src="angulartics/src/angulartics.js"></script>
    <script src="angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <script src="angular-material/angular-material.js"></script>
    <script src="plivo/dist/plivo.min.js"></script>
    <!-- endbower -->
    <script src="main.js "></script>

    <script src="demoApp.js "></script>
    <script src="env.service.js"></script>
    <script src="storagesConfig.js"></script>
    <script src="translate.config.js"></script>
</body>
</html>
