.call-btn {
        cursor: pointer;
        svg-icon {
            &.etutoring-phone-icon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                svg {
                    width: 50%;
                }
            }
     }
    &.called {
        svg-icon {
            &.etutoring-phone-icon {
                background-color: $bgColor1;
                svg {
                    transform: translate(0, 1px) rotate(136deg);
                    path {
                        fill: $bgColor6;
                    }
                }
            }
        }
    }
    &.offline {
        svg-icon {
            &.etutoring-phone-icon {
                border: 1px solid $bcColor8;
                background-color: $bgColor6;
                svg {
                    path {
                        fill: $bcColor8;
                    }
                }
            }
        }
    }
    &.call {
        svg-icon {
            &.etutoring-phone-icon {
                background-color: $bgColor19;
                svg {
                    path {
                        fill: $bgColor6;
                    }
                }
            }
        }
    }
}

