<ng-switch on="audioPlayer.currState">
    <div class="play-button-wrapper"
         ng-switch-when="1">
        <button class="play-button" ng-click="audioPlayer.currState = audioPlayer.STATE_ENUM.PLAYING">
            <svg-icon name="play"></svg-icon>
            <span class="play-audio-text" translate=".PLAY_AUDIO"></span>
        </button>
    </div>
    <div class="znk-audio-player-wrapper">
        <znk-audio-player ng-switch-when="2"
                          source="d.source"
                          type="d.type"
                          on-ended="audioPlayer.audioEnded(allowReplay)"
                          auto-play="true">
        </znk-audio-player>
    </div>
    <div class="ended-msg"
         ng-switch-when="3">
        <span translate=".THIS_VIDEO_ALREADY_PLAYED"></span>
    </div>
</ng-switch>
