md-tooltip[znk-tooltip] {
    overflow: visible;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;

    .md-content{
        position: relative;
        @include text-style(12px, $fcColor2, Lato, $regularFontWeight, null, none);
        overflow: visible;
        border-radius: 5px;
        padding: 0 10px;
        background: $bcColor17;
    }

    .arrow, .arrow:before{
        position: absolute;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    &[md-direction=bottom] {
        .md-content {
            margin-top: 5px;
        }
        .arrow, .arrow:before{
            top: -3px;
            left: 50%;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid $bcColor17;
        }
    }

    &[md-direction=top] {
        .md-content {
            margin-bottom: 5px;
        }
        .arrow, .arrow:before{
            left: 50%;
            bottom: -9px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid $bcColor17;
        }
    }

    &[md-direction=left] {
        .md-content {
            margin-right: 5px;
        }
        .arrow, .arrow:before{
            left: calc(50% + 56%);
            top: 50%;
            border-top: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid $bcColor17;
        }
    }

    &[md-direction=right] {
        .md-content {
            margin-left: 5px;
        }
        .arrow, .arrow:before{
            left: -6%;
            top: 11px;
            border-top: 6px solid transparent;
            border-right: 6px solid $bcColor17;
            border-bottom: 6px solid transparent;
            border-left: 6px solid transparent;
        }
    }
}
